@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: var(--lightPinkColor);
}
:root {
  --lightPinkColor : #FCF6F6;
  --secondaryPinkColor : #F2D8D8;
  --darkPinkColor : #EA7272;
  --darkscrollPinkColor : #d34c4c;
  --lightGreyColor : #D5CFCF;
  --secondaryGreyColor :#A3A3A3; 
  --darkGreyColor : #515050;
}

::-webkit-scrollbar {
  width: .5rem;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: var(--darkPinkColor);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkscrollPinkColor);
}